* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.patient-card  {
  transition: all 0.2s ease;
}
.patient-card .card-text {
  cursor: grab;
}

.patient-card:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1050;
}